* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
    color: #DDDDDD;
}
.containor {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.leftContainor{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 32%;
    width: 99%;
    display: flex;
    flex-direction: column;
}
.box >textarea{
    height: 90%;
    outline: none;
    border: none;
}
.box >label{
    height: 8%;
    background-color: rgba(9, 9, 9, 0.464);
}
.rightContainor{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
.rightContainor>iframe{
    width: 99%;
    height: 96%;
    border: none;
    background: #DDDDDD;
    color: black;

}
.rightContainor>label{
    display: block;
    width: 99%;
    background: #DDDDDD;
    color: black;

}